<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.Logintest"/>
      <class name="testcases.AddingAdminUserTest"/>
      <class name="testcases.BuzzTest"/>
      <class name="testcases.ResetPasswordTest"/>
      <class name="testcases.PunchingTest"/>
      <class name="testcases.VacancyTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
